<section id="pinBoard">
        <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <h1 class="my-pin-title text-xs-center">My Pins</h1>
                  <div class="card-columns">
                      <div ng-repeat='pin in vm.pins' class="card"> 
                        <img class="card-img-top img-fluid" src={{pin.image_url}} alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">{{pin.title}}</h4>
                          <p class="card-text">{{pin.description}}</p>
                        </div>
                        <p class="card-text"><button ng-click="vm.delete(pin._id)" type="button" class="btn btn-danger-outline">delete</button></p>
                      </div>
                   </div>
              </div> 
          </div>
        </div>
</section>