<section id="Registration">
        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                  <h1 class="text-xs-center">Sign up</h1>     
                   <form name="authForm" ng-submit="authForm.$valid && vm.register()" novalidate>
                      <p ng-show="vm.error" class="text-danger" ng-bind="vm.error"></p>
                      <fieldset class="form-group">
                        <label for="Username">Username</label>
                        <input ng-model="vm.user.name" type="text" name="username" class="form-control" id="Username" placeholder="Enter username" required autofocus>
                        <div ng-show="authForm.$submitted">
                          <p ng-show="authForm.username.$error.required" class="text-danger">Username required</p>
                        </div>
                      </fieldset>
                      <fieldset class="form-group">
                        <label for="Email">Email address</label>
                        <input ng-model="vm.user.email" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" type="email" name="email" class="form-control" id="Email" placeholder="Enter email" required>
                        <div ng-show="authForm.$submitted">
                          <p ng-show="authForm.email.$error.required" class="text-danger">Email required</p>
                          <p ng-show="authForm.email.$error.email" class="text-danger">Please enter a valid email</p>
                        </div>
                      </fieldset>
                      <fieldset class="form-group">
                        <label for="Password">Password</label>
                        <input ng-model="vm.user.password" type="password" name="password" class="form-control" id="Password" placeholder="Password" required>
                        <div ng-show="authForm.$submitted">
                            <p ng-show="authForm.password.$error.required" class="text-danger">Password required</p>
                        </div>
                      </fieldset>
                      <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
              </div> 
          </div>
        </div>
</section>